.checkbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 16px; /* Adjust font size to match the Figma design */
    position: relative;
    user-select: none;
  }
  
  .checkbox-container input {
    position: relative;
    cursor: pointer;
    height: 24px; /* Increased height to match the border radius */
    width: 24px; /* Increased width to match the border radius */
    margin-left: 10px; /* Add some space between label and checkbox */
    border-radius: 25px; /* Increased border radius */
    background-color: #fff; /* Ensure background color contrasts with border */
    border: 2px solid rgba(0, 0, 0, 0.5); /* Lighter border color with initial opacity */
    opacity: 0.5; /* Initial opacity for the checkbox */
  }
  
  .checkbox-container input:checked {
    opacity: 1; /* Full opacity when checked */
  }
  
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  .checkmark {
    position: relative;
    height: 20px;
    width: 20px; 
    background-color: #eee;
    border-radius: 4px; 
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    opacity: 1 !important;
  }
  
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
    opacity: 1 !important;
  }
  
  .checkbox-container .checkmark:after {
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
}